section li {
        display: inline;
        display: inline-block;
        background-color: #fff;
        position: relative;
        vertical-align: top;
        cursor: default
    }

.visualizer {
        position: relative;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        zoom:0.70;
        transform: translateZ(0);
        -webkit-transform: scale(0.70);
        -moz-transform:scale(0.70);
    }

.svg-pods {
	background-position: 0% 0;
	background-repeat: no-repeat;
	background-image: url(spritesheets/visualizers.svg);
}

.svg-pods-dims {
	width: 128px;
	height: 128px;
}

.svg-services {
	background-position: 33.333333333333336% 0%;
	background-repeat: no-repeat;
	background-image: url(spritesheets/visualizers.svg);
}

.svg-services-dims {
	width: 128px;
	height: 128px;
}

.svg-add-visualizers {
	background-position: 66.66666666666667% 0%;
	background-repeat: no-repeat;
	background-image: url(spritesheets/visualizers.svg);
}

.svg-add-visualizers-dims {
	width: 128px;
	height: 128px;
}